body {
    color: white;
}

.card {
    width: 40%;
    -webkit-box-shadow: -2px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 0px 14px 0px rgba(0, 0, 0, 0.75);
    margin: 40px;
    padding: 20px;
}